
*{
    font-family: 'Silkscreen', cursive;
    background-color: #000000;
}

#formContainer{
    text-align: center;
}

#title{
    text-align: center;
    color: #0b9422;
    font-size: 7vh;
}

.simpleText{
    color: #0b9422;
    font-size: 5vh;
}

.simpleInput{
    text-align: center;
    color: #0b9422;
    font-size: 5vh;
    border: 0.5vh solid #0b9422;
}

.simpleRadio{
    margin: 0vh 0vh 0vh 4vh;
    cursor: pointer;
}

.simpleButton{
    font-size: 5vh;
    text-decoration: none;
    border: .5vh solid  #0b9422;
    border-radius: 10%;
    background-color: #000000;
    color :  #0b9422;
    cursor: pointer;
      margin:  10vh 0vh 0vh 0vh;
      transition: color .5s, background-color .5s , border .5s;
}

.simpleButton:hover{
    color :  #000000;
    border: .5vh solid  #000000;
    background-color: #0b9422;
}


#narutaur{
    color: #c93636;
}