* {
    background-color: #000000;
    font-family: "Title";
}


.title {
    text-align: center;
    font-size: 10vh;
    color: #b9bc2f;
    opacity: 0.7;
    cursor: default;
}



#subtitle {
    font-size: 8vh;
}

.databases {
    font-size: 7vh;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
}

.databases:hover {
    color: #df7529;
}

#databases-div-container {
    text-align: center;
}