* {
    background-color: #000000;
    font-family: "Title";
}

.text {
    text-align: center;
    font-size: 10vh;
    color: #b9bc2f;
    background-color: transparent;
    opacity: 0.7;
    cursor: default;
}

.return{
    display: inline-block;
    text-decoration: none;
    margin: 5vh 0vh 0vh 5vh;
    padding: 0vh 2vh 0vh 2vh;
    border: 1vh solid #babc2f8f;
    border-radius: 5%;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
}


.return:hover{
    color: #000000;
    background-color: #babc2fe6;
}

.container {
    display: inline-block;
    width: 200vh;
    height: 90vh;
    margin: 10vh 0vh 20vh 5vh;
    border: 1vh solid #babc2f8f;
    border-radius: 5%;
}

.weapon_image {
    display: inline-block;
    width: 90vh;
    height: 60vh;
    margin: 5vh 0vh 0vh 5vh;
}

.form {
    background-color: transparent;
}

.input {
    font-size: 8vh;
    width: 50vh;
    color: #b9bc2f;

}

.sub-button {
    font-size: 8vh;
    border: 1vh solid #babc2f8f;
    color: #babc2f;
    border-radius: 20%;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
}


.sub-button:hover{
    color: #000000;
    background-color: #babc2fe6;
}