* {
    background-color: #000000;
    font-family: "Title";
}

.text {
    text-align: center;
    font-size: 10vh;
    color: #b9bc2f;
    background-color: transparent;
    opacity: 0.7;
    cursor: default;
}

.return {
    display: inline-block;
    text-decoration: none;
    margin: 5vh 0vh 0vh 5vh;
    padding: 0vh 2vh 0vh 2vh;
    border: 1vh solid #babc2f8f;
    border-radius: 5%;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
}


.return:hover {
    color: #000000;
    background-color: #babc2fe6;
}

.container {
    display: inline-block;
    width: 200vh;
    height: 133vh;
    margin: 10vh 0vh 20vh 5vh;
    border: 1vh solid #babc2f8f;
    border-radius: 5%;
}

.weapon_image {
    display: inline-block;
    width: 90vh;
    height: 60vh;
    margin: 5vh 0vh 0vh 5vh;
}

.form {
    background-color: transparent;
}

.input {
    font-size: 8vh;
    width: 50vh;
    color: #b9bc2f;

}

.sub-button {
    font-size: 8vh;
    border: 1vh solid #babc2f8f;
    color: #babc2f;
    border-radius: 20%;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
}


.sub-button:hover {
    color: #000000;
    background-color: #babc2fe6;
}

.div-perk {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin: 0vh 0vh 0vh 102vh;
}

.perk {
    filter: grayscale(100%);
    border-radius: 10%;
    margin: 1vh 0vh 0vh 2vh;
    border: .5vh solid #5a9cb0;
    width: 10vh;
    height: 10vh;
    cursor: pointer;
    transition: all 0.3s;
}

.perk:hover {
    margin: 0vh 0vh 0vh 2vh;
    border-top: .5vh solid #ff561e;
    border-right: .5vh solid #ff561e;
    border-bottom: 1vh solid #ff561e;
    border-left: .5vh solid #ff561e;
}

.perk_mini {
    width: 25vh;
    height: 25vh;
    background: transparent;
}

.ui-tooltip {
    padding: 2vh;
    border: 0vh solid transparent !important;
    box-shadow: 0 0 7px black;
    background-color: transparent;
}